@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  background-color: #ecf0f1;
}

* {
  box-sizing: border-box;
}
