@import "tailwindcss";

/* Light Mode Colors */
:root {
  --shadow-color: 0deg 0% 63%;
  --primary: white;
  --secondary: rgb(44, 44, 44);
  --inactive: orange;
  --duration: 0.22;
  --drop-off: 0.4;
  --ease: ease-out;
  --ease: linear(
    0 0%,
    0.2342 12.49%,
    0.4374 24.99%,
    0.6093 37.49%,
    0.6835 43.74%,
    0.7499 49.99%,
    0.8086 56.25%,
    0.8593 62.5%,
    0.9023 68.75%,
    0.9375 75%,
    0.9648 81.25%,
    0.9844 87.5%,
    0.9961 93.75%,
    1 100%
  );
  --border: light-dark(hsl(0 0% 80%), hsl(0 0% 60%));
  @media (prefers-color-scheme: dark) {
    --shadow-color: 0deg 0% 0%;
  }
}
[data-theme="dark"] {
  --shadow-color: 0deg 0% 0%;
}
[data-theme="light"] {
  --shadow-color: 0deg 0% 63%;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer pill, flip;

@layer switch {
  .premium:has(:checked)::before {
    translate: -50% -250%;
    scale: 0.85;
  }
  .premium:has(:checked) label span {
    scale: 1;
  }
  .premium:has(:checked) .indicator {
    background: var(--secondary);
    clip-path: inset(0 0 0 0 round 100px);
  }
  .premium:has(:checked) label {
    color: var(--inactive);
    opacity: 0.75;
  }
  .premium:has(:nth-of-type(1):checked) label:nth-of-type(1),
  .premium:has(:nth-of-type(2):checked) label:nth-of-type(2) {
    color: var(--primary);
    opacity: 1;
  }
  .premium:has(:nth-of-type(1):checked) .indicator {
    translate: -100% 0;
  }
  .premium:has(:nth-of-type(2):checked) .indicator {
    translate: 0 0;
  }

  .control label {
    transition-property: color, opacity;
    transition-duration: calc(var(--duration) * 1s);
    transition-timing-function: var(--ease);
  }

  .control__track:not(:has(> :checked)) > label {
    color: var(--primary);
    opacity: var(--drop-off);
  }
  .control__track:not(:has(> :checked)) > .indicator {
    translate: 100% 0;
  }
  .indicator {
    transition: translate calc(var(--duration) * 1s) var(--ease);
  }
  .premium .indicator {
    transition-property: translate, clip-path, background;
    transition-duration: calc(var(--duration) * 1s);
    transition-timing-function: var(--ease);
    clip-path: inset(
      73cqh calc(50% + 1px) calc(27cqh - 2px) calc(50% - 3px) round 100px
    );
  }
  .premium::before {
    transition-property: scale, translate;
    transition-duration: calc(var(--duration) * 1s);
    transition-timing-function: var(--ease);
  }
  .control__track:has(> :checked) .premium .indicator {
    background: var(--inactive);
  }
  .control__track:has(> :checked) .premium label {
    color: var(--inactive);
  }
}

@layer pill {
  .indicator {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 100px;
  }

  .premium .indicator {
    background: var(--primary);
    left: 50%;
    top: 0;
    translate: -50% 0;
  }

  .control {
    scale: 1.2;
    letter-spacing: 0.5px;
    position: relative;
    width: 260px;
    height: 38px;
    aspect-ratio: 300 / 38;
    background: var(--secondary);
    border-radius: 100px;
    border: 1px solid var(--border);
    padding: 2px;

    .control__track {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      height: 100%;
      position: relative;
    }

    .premium::before {
      content: "Career";
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -80%;
      color: var(--primary);
      font-size: 0.75rem;
      z-index: 2;
    }

    label {
      display: inline-block;
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
      cursor: pointer;
      font-size: 0.75rem;
      color: var(--primary);
      z-index: 2;
    }

    .control__track > label {
      color: var(--secondary);
    }

    .premium {
      width: 100%;
      height: 100%;
      display: grid;
      position: relative;
      grid-template-columns: 1fr 1fr;
      border: 1px solid #0000;
      container-type: size;
    }

    .premium,
    .control__track > label:nth-of-type(1) {
      grid-column: span 2;
    }

    label span {
      display: grid;
      place-items: center;
      height: 100%;
      width: 100%;
      transition: scale calc(var(--duration) * 1s) var(--ease);
    }

    .premium label:nth-of-type(1) span {
      scale: 0.75;
      transform-origin: 150% 150%;
      border-radius: 100px;
    }
    .premium label:nth-of-type(2) span {
      scale: 0.75;
      transform-origin: -65% 150%;
      border-radius: 100px;
    }
  }
}
